body {
    background-color: lightskyblue
}

* {
    box-sizing: border-box;
}

.calculator__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.display__view {
    background-color: coral;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    height: 90px;
}

.inner__display {
    color: black;
    margin-top: 40px;
    font-size: 22px;
    text-align: end;
}

.symbols__in__raw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.buttons {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    background-color: rgb(16, 16, 152);
    padding: 2px;
    border-radius: 6px;
    border: none;
    width: 60px;
    height: 50px;
    text-align: center;
    color: white;
}

.buttons:hover {
    background-color: lightseagreen;
}